@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url("../font//Poppins-Regular.ttf");
}

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}

html,
body,
#root {
  height: 100%;
}

.mainNav .active {
  @apply bg-blue-500 text-white md:bg-transparent md:text-blue-500;
}

.boxShadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 20px 2px rgba(0, 0, 0, 0.23);
}

.boxShadow2 {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
}

.form svg {
  height: 1.5em;
  width: 1.5em;
}

.coverPhoto svg {
  color: red !important;
}

.mainNavPfp {
  object-fit: cover;
  height: 40px;
  width: 40px;
}

.blueBtn {
  @apply transition-all duration-200 lg:p-4 p-3  bg-blue-500 text-white hover:bg-blue-600;
}

.label {
  @apply text-zinc-700 font-semibold mb-1 block;
}

.b-dot::before {
  content: "\00B7";
  margin-right: 10px;
}

.profile svg {
  height: 1.5em;
  width: 1.5em;
  fill: #878792;
}

.hamburger svg {
  height: 1.7em;
  width: 1.7em;
  fill: #71717a;
}

.customBorder {
  border-left-width: 4px;
  border-left-color: #2563eb;
}

.paginate li {
  @apply border p-2 text-center h-10 w-10 rounded-full text-sm pb-2;
}

.paginate_active {
  @apply bg-zinc-700 text-white;
}

.mainNav img {
  object-fit: cover;
}

.rejected {
  background-color: rgba(165, 19, 19, 0.212);
  color: rgb(231, 40, 40);
}

.accepted {
  background: rgba(27, 199, 27, 0.226);
  color: rgba(26, 163, 26, 0.966);
}

.proceeding {
  background: #bfdbfe;
  color: #3b82f6;
}

.pending {
  background: rgba(255, 166, 0, 0.219);
  color: rgb(204, 141, 23);
}

@keyframes cardFadeIn {
  from {
    opacity: 0;
    display: block;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cardFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
    display: none;
  }
}

.animate-cardFadeIn {
  animation: cardFadeIn 0.3s ease-in forwards;
}
.animate-cardFadeOut {
  animation: cardFadeOut 0.3s ease-in forwards;
}
